@model IEnumerable<CrowdStock.Models.Stock>

@{
    ViewBag.Title = "Index";
}

<h2>Stocks</h2>

<div class="container">
    <br />
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
        <br />
        <div class="form-group">
            <input type="radio" name="mtype" value="stocks">Stocks
            <input type="radio" name="mtype" value="users">Users
            <a class="btn btn-default" type="submit">Search</a><br />
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Top Stocks  
            </th>
            <th>
                Top Users
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Google
            </td>
            <td>
                User1
            </td>
        </tr>
    </tbody>
    <!--
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
    -->

</table>