@model IEnumerable<crowdstock.models.applicationuser>

@{
    ViewBag.Title = "ListUsers";
}

<h2>Users</h2>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reputation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageScore)
            </th>
            <th>@*Avatar goes here*@</th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Reputation)</strong>
                </td>
                <td>
                    <em>@Html.DisplayFor(modelItem => item.AverageScore)</em>
                </td>
                <td class="td-avatar" style="padding-top:0;padding-bottom:0;">
                    <img src="@Url.Action("Image","Account",new {id=item.Id})" alt="@item.UserName" class="avatar-table" />
                </td>
                <td>
                    <a href="@Url.Action("Details","Users",new {id=item.Id})">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("ListUsers", new { page }))
