@model IEnumerable<CrowdStock.Models.ApplicationUser>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AverageScore)
            </th>
            <th>@*Avatar goes here*@</th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>@*Buttons go here*@</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.AverageScore)</strong>
                </td>
                <td class="td-avatar" style="padding-top:0;padding-bottom:0;">
                    <img src="@Url.Action("Image","Account",new {id=item.Id})" alt="@item.UserName" class="avatar-table" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a href="@Url.Action("Details","Users",new {id=item.Id})" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="text-center">
    <a href="#">View More</a>
</div>